body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #aed9e0;
}
header {
  background-color: #1a8c3e;
  color: white;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}
header a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.btn__header {
  background-color: #ff8c00;
  color: white;
  padding: 10px 20px;
  border-radius: 100px;
  font-weight: 700;
}
.banner {
  background-color: #aed9e0;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner img {
  width: 100%;
  height: auto;
  aspect-ratio: 1440/ 550;
}
.banner h1 {
  margin: 0;
  font-size: 2em;
}
.banner p {
  font-size: 1.2em;
}
.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 20px auto;
  position: absolute;
  top: 0%;
  right: 100px;
  box-sizing: border-box;
}
.form-container h2 {
  margin-top: 0;
}
.form-container label {
  display: block;
  margin-bottom: 5px;
}
.form-container input,
.form-container select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-container button {
  background-color: #1a8c3e;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}
.form-container button:hover {
  background-color: #155e2f;
}

.form-container p {
  margin: 0;
  font-size: 0.8em;
  text-align: center;
  margin-top: 10px;
}
.form-container a {
  color: #1a8c3e;
  text-decoration: none;
}

#registro{
  display: none;
}
/*///////////////////77*/
.nav{
  display: flex;
  justify-content:space-between;
  align-items: center;
  overflow: hidden;
}

.nav img{
  height: 80px;
  width: auto;
  padding: 10px;
  margin-left: 90px;
}

.nav ul{
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  margin-right: 40px;
  color: #4A5568;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav li{
  margin-right: 50px;
}

.nav a{
  text-decoration: none;
  color: #4A5568;
  font-size: 1.2rem;
  font-weight: bold;
}
/*///////////////////////*/
.dashboard{
  display: none;
  margin-top: 20px;
}

.dashboard iframe{
  width: 100%; /* Ajusta el ancho según sea necesario */
  height: 500px; /* Ajusta la altura según sea necesario */
}
/*///////////////////////*/
.estudiantes__data{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.estudiantes__data table{
  max-width: 70%;
}
/*///////////////////////*/
.footer {
  background-color: #00194A;
  color: #ffffff;
  margin-top: 20px;
  padding: 20px 0;
  font-weight: bold;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section h3 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: #ffffff;
  text-decoration: none;
}

.app-icons img {
  width: 30px;
  margin-right: 10px;
}

.social-icons img {
  width: 24px;
  margin-right: 10px;
}

.language-button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.language-button:hover {
  background-color: #0056b3;
}